@font-face {
  font-family: "CarosSoftLight";
  src: url(./fonts/CarosSoftLight.otf) format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  margin-bottom: -100px;
}

p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.bolded {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
}

/* -----FRONT MENU---- */
.front-menu {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  /* align-items: center;
  justify-content: center; */
}

.front-menu-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  padding: 16px 30px;
  cursor: pointer;
  font-family: "CarosSoftLight", sans-serif;
  font-weight: 400;
}

.button-border:hover {
  background-color: black;
}

.button-border {
  border: 0.44px solid rgba(255, 255, 255, 0.649);
  background: transparent;
  width: 300px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  transition: 0.7s ease;
}

.row {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

.column {
  height: 85%;
  flex-basis: 32%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.column img {
  width: 100%;
  margin: auto;
}

#logo-button {
  border: none;
  background: none;
  cursor: pointer;
}

#logo-button img {
  min-width: 350px;
  display: flex;
  position: relative;
}

/* ------ABOUT ME-------- */
.about-me {
  display: flex;
  flex-direction: column;
  max-width: 1036px;
  min-width: 1000px;
  /* height: 500px; */
  /* border: solid black 2px; */
  margin: 0%;
  position: relative;
  /* margin-left: 25%;
  margin-right: 15%; */
  left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
  /* align-items: center;
  justify-content: center; */
}

#about-right-post-photo {
  display: flex;
  max-width: 250px;
  max-height: 300px;
  flex-basis: 300px;
  flex-shrink: 1;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0;
}

.about-me-first-part {
  margin: 0%;
  position: relative;
  /* border: 2px solid black; */
  max-width: 700px;
}

#about-me-first-part-heading {
  font-size: 2rem;
  max-width: 700px;
  max-height: 106px;
  position: relative;
  font-family: "Vollkorn SC", serif;
  font-weight: 500;
}

#about-me-first-part-post {
  margin: 5px auto 5px auto;
  max-width: 700px;
  /* border: solid black 2px; */
  max-height: 206px;
  min-height: 100px;
  text-align: left;
  font-size: 1.2rem;
}

#about-me-first-part-box-heading {
  position: relative;
  margin: 30px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  border: 1px solid black;
  vertical-align: middle;
  padding: 10px;
  max-width: 550px;
  margin: auto;
  align-self: center;
  width: 75%;
  font-family: "CarosSoftLight", sans-serif;
  font-weight: 400;
  margin: 20px auto 20px auto;
}

.middle-page-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 650px;
  max-height: 500px;
  margin: 0%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

.middle-page-banner img {
  max-width: 650px;
  max-height: 500px;
  position: relative;
  width: 100%;
}

#top-front-menu-button {
  top: 70%;
}

.middle-page-banner-text {
  top: 50%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  /* border: 1px solid black; */
  vertical-align: middle;
  padding: 10px;
  max-width: 550px;
  width: 75%;
  font-family: "Vollkorn SC", serif;
  /* transform: translateX(-50%); */
}

.about-mobile-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-second-part h4 {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  margin: 5px;
}

.about-me-second-part p {
  font-size: 1.2rem;
}

.centered-bold-text {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-size: 1.45rem;
  font-weight: 1000;
  max-width: 650px;
  margin: 30px auto 30px auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 15px;
}

.gallery {
  position: relative;
  display: flex;
  min-height: 700px;
  max-width: 1100px;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  flex-shrink: 3;
}

.gallery-img img {
  margin: 10px;
  height: 320px;
  width: 320px;
  flex-basis: 320px;
  flex-grow: 2;
  flex-shrink: 2;
  position: relative;
}

footer {
  height: 100px;
  margin: 20px auto 210px auto;
}

.about-me-end-post {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
  padding: 10px;
  max-width: 600px;
  margin: auto;
  width: 75%;
  font-family: "CarosSoftLight";
}

.socials {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  max-width: 550px;
  margin: auto;
  margin-top: 10px;
  width: 75%;
}

.socials a {
  white-space: nowrap;
  position: relative;
  margin: 10px;
}

.socials a img {
  white-space: nowrap;
  height: 42px;
  width: 42px;
  position: relative;
  background: transparent;
}

/* ONLINE/OFFLINE SERVICES PAGES */
.services-page-photo {
  left: 50%;
  top: 50%;
}

.services-page-photo img {
  margin-top: 170px;
  max-height: 700px;
  min-width: 400px;
  object-fit: cover;
  margin-bottom: 40px;
  filter: brightness(100%);
}

.offline-services-page-photo {
  object-fit: none;
}
.services-page-text {
  top: 67%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 10px;
  max-width: 550px;
  width: 75%;
  font-family: "Vollkorn SC", serif;
}

#first-services-page-heading {
  margin-top: 190px;
}

.services-page-heading {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  max-width: 650px;
  margin: 50px auto 30px auto;
  font-weight: 400;
  color: black;
  font-size: 1.75rem;
  padding: 10px;
  font-family: "Vollkorn SC", serif;
}

.services-description p {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-size: 1.45rem;
  max-width: 650px;
  margin: 30px auto 30px auto;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.services-end-photo {
  padding-top: 20px;
  max-width: 400px;
  display: flex;
}

.services-end-photo img {
  margin-top: 0px;
}

.services-end-photo-text {
  top: 50%;
  font-size: 1.25rem;
}

#online-services-end-photo {
  margin-top: 60px;
}
/* DROPDOWN */

.services-dropdown {
  max-width: 600px;
  margin: 10px auto;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  list-style: none;
  border: 1px solid black;
  padding: 10px 30px;
  font-family: "Rubik", sans-serif;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 10px;
  margin-right: 1rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}

details p {
  font-size: 1rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
  max-width: 600px;
}
/* -------NAVBAR--------- */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  margin-top: 25px;
  margin-right: 15px;
  font-family: "Vollkorn SC", serif;
}

.main-page-logo {
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  transition: 0.5s ease;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: black;
}

.navbar-links li a:hover {
  color: white;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* ---------MEDIA QUERIES--------- */

@media (max-width: 1270px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: inline;
  }

  #logo-button img {
    width: 250px;
  }
}

/* Mobile version */
@media (max-width: 800px) {
  .navbar {
    position: fixed;
    z-index: 2;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0%;
    width: 100%;
  }

  .front-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }

  .front-menu img {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 490px;
    max-width: 350px;
  }
  .row {
    display: flex;
    flex-direction: column;
    max-height: 1400px;
    align-items: center;
    justify-content: center;
  }

  .column {
    max-height: 1300px;
    flex-basis: 32%;
    margin-bottom: 0;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
  }

  .row:first-child {
    margin-top: 50px;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 300px;
    /* height: 500px; */
    /* border: solid black 2px; */
    /* margin: 15px 15px; */
    position: relative;
    /* margin-left: 25%;
  margin-right: 15%; */
    left: 50%;
    transform: translateX(-50%);
    margin-top: -40px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .about-me-first-part {
    margin: 5px;
    position: relative;
    /* border: 2px solid black; */
    max-width: 700px;
  }

  #about-me-first-part-heading {
    font-size: 1.2rem;
    max-width: 700px;
    max-height: 106px;
    position: relative;
    font-family: "Vollkorn SC", serif;
    font-weight: 500;
    margin-top: 55px;
  }

  #about-me-first-part-post {
    margin: 5px auto 5px auto;
    max-width: 420px;
    /* border: solid black 2px; */
    max-height: 206px;
    min-height: 100px;
    text-align: left;
    font-size: 0.9rem;
  }

  #about-me-first-part-box-heading {
    position: relative;
    margin: 30px;
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    border: 1px solid black;
    vertical-align: middle;
    padding: 10px;
    max-width: 550px;
    align-self: center;
    width: 75%;
    font-family: "CarosSoftLight", sans-serif;
    font-weight: 400;
    margin: 20px auto 20px auto;
  }
  .about-me-second-part {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
  }
  .about-mobile-view {
    display: flex;
    max-height: 400px;
    max-width: 500px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    min-height: 175px;
    margin: 5px;
  }
  .about-mobile-view p {
    max-width: 300px;
    max-height: 400px;
    font-size: 0.9rem;
    margin-right: 10px;
  }

  #about-right-post-photo {
    position: relative;
    max-height: 204px;
    max-width: 195px;
    margin-top: 0;
  }

  .about-me-second-part h4 {
    font-size: 1rem;
    position: relative;
    margin: 5px;
  }

  .about-me-second-part p {
    font-size: 0.9rem;
  }

  #main-page-logo-image {
    width: 90px;
    height: 35px;
  }

  .toggle-button .bar {
    height: 2px;
  }

  .toggle-button {
    margin-top: 10px;
    margin-right: 5px;
  }

  .middle-page-banner {
    height: 476px;
  }

  .middle-page-banner img {
    width: 100%;
    height: 100%;
    position: relative;
    width: 100%;
    object-fit: none;
  }

  .middle-page-banner-text {
    top: 40%;
    font-size: 1rem;
  }

  .centered-bold-text,
  .about-me-end-post {
    font-size: 1rem;
  }

  .gallery-img img {
    max-height: 160px;
    max-width: 160px;
    margin-bottom: 0;
    /* padding-bottom: 0; */
  }

  .gallery-img {
    max-height: 160px;
    max-width: 165px;
  }

  .gallery {
    max-height: 600px;
    min-height: 500px;
  }
  .services-page-text {
    font-size: 1.5rem;
    top: 80%;
  }
  .services-summary-mobile-view {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  details {
    margin: 5px;
  }

  details p {
    padding: 1px 15px 1px 15px;
  }

  details summary {
    font-size: 1rem;
    max-width: 250px;
    margin: auto;
  }

  .services-page-heading {
    font-size: 1.2rem;
    margin: 30px auto 0px auto;
    padding: 0px 15px;
  }

  #first-services-page-heading {
    margin-top: 90px;
  }

  .services-description p {
    max-width: 500px;
    padding: 10px 15px;
    font-size: 0.9rem;
    margin: auto;
  }

  .services-end-photo-text {
    top: 50%;
    font-size: 1rem;
  }
  .services-page-photo img {
    object-fit: cover;
    margin-top: 120px;
  }

  .services-end-photo img {
    margin-top: 30px;
  }

  #online-services-end-photo {
    margin-top: 30px;
  }

  footer {
    height: 100px;
    margin: 20px auto 100px auto;
  }
}
